body{
background-image: url("../imgs/fundo7.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line-height: 1.5;

}
  

.navbar{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
background-color: rgba(11, 114, 239, 0.857);
}
.titulo_item1{
color: rgb(64, 221, 16);
font-size: 26px;
}
.titulo_item1-1{
    color: rgb(64, 221, 16);
font-size: 26px;
}

.texto_item1{
color: rgb(255, 255, 255);
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;

}

.texto_item1-1{
color: rgb(255, 255, 255);
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
}

#menu {
width: 90%;
margin: 100px auto;
background-color: #0b71df21;
background-image: linear-gradient(#0c0c0c3d,#1d1c1c38);
border-radius: 10px;
box-shadow: 1px 1px #fffbf900;
color:white;
padding-left: 30px;
padding-right: 30px;    
padding-top: 50px;
padding-bottom: 50px;    
}

.jumbotron-fluid{
  color: black;  
}

/* Estilo para centralizar o vídeo */
.video-wrapper {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 20px; /* Espaçamento entre os vídeos */
}

/* Estilo para o ícone do YouTube */
.youtube-icon {
font-size: 50px;
color: #ff0000;
margin-bottom: 10px; /* Espaçamento entre o ícone e o vídeo */
}
