.scrollspysite{
position: relative;
overflow: auto;
height: 300px;
}

.navbar{
font-size: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
background-color: rgba(11, 114, 239, 0.857);
}

.jumbotron-fluid {
padding-right: 0;
padding-left: 0;
border-radius: 0;

}
.intem1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}
.card{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}

.card-subtitle{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}

.fa-youtube-play {
margin-bottom: 10px;
justify-content: center;
}
.nav-pills .nav-link {
color: #333;
background-color: #f8f9fa;
border-radius: 0;
margin-right: 5px;
}
.nav-pills .nav-link.active {
color: #fff;
background-color: #007bff;
}
.embed-responsive {
margin-bottom: 20px;
}

.tab-pane{
justify-content: center;
  
}
.card-text{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}
