body{
background-image: url("../imgs/fundo6.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line-height: 1.5;
color: #041a16;
}


/* Estilo personalizado para o nav-link */
.custom-nav-link {
    color: white !important; /* Cor branca por padrão */
    transition: color 0.3s ease; /* Transição suave para o efeito de hover */
}

.custom-nav-link:hover {
    color: #15d495 !important; /* Cor ao passar o mouse (amarelo, por exemplo) */
}

.container{
border-radius: 45px;
}
        

                      
