.scrollspysite{
position: relative;
overflow: auto;
height: 300px;
}

.navbar{
font-size: 20px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
background-color: rgba(11, 114, 239, 0.857);
}

.jumbotron-fluid {
padding-right: 0;
padding-left: 0;
border-radius: 0;

}
.intem1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}
.card{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;
}

.card-subtitle{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
font-size: 20px;

}
/* Estilo para centralizar o vídeo */
.video-wrapper {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-bottom: 20px; /* Espaçamento entre os vídeos */
}

/* Estilo para o ícone do YouTube */
.youtube-icon {
font-size: 50px;
color: #ff0000;
margin-bottom: 10px; /* Espaçamento entre o ícone e o vídeo */
cursor: pointer; /* Cursor de clique */
}

/* Estilo para o iframe do vídeo */
.video-iframe {
display: none; /* Inicialmente oculto */
width: 100%;
height: 100%;
border: none;
}

/* Estilo para a imagem de thumbnail */
.video-thumbnail {
width: 100%;
height: auto;
cursor: pointer; /* Cursor de clique */
}
