.scrollspysite{
position: relative;
overflow: auto;
height: 300px;
}

/* Estilo personalizado para o nav-link */
.custom-nav-link {
    color: white !important; /* Cor branca por padrão */
    transition: color 0.3s ease; /* Transição suave para o efeito de hover */
}

.custom-nav-link:hover {
    color: #15d495 !important; /* Cor ao passar o mouse (amarelo, por exemplo) */
}


