body{
background-image: url("../imgs/fundo3.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line-height: 1.5;

}

.nav-item{
font-size: 16px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
}

.titulo_item1{
color: rgb(64, 221, 16);
font-size: 26px;
}
.titulo_item1-1{
    color: rgb(64, 221, 16);
font-size: 26px;
}

.texto_item1{
color: rgb(255, 255, 255);
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;

}

.texto_item1-1{
color: rgb(255, 255, 255);
font-size: 23px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
}

#menu {
width: 90%;
margin: 100px auto;
background-color: #0b71df21;
background-image: linear-gradient(#0c0c0c3d,#1d1c1c38);
border-radius: 10px;
box-shadow: 1px 1px #fffbf900;
color:white;
padding-left: 30px;
padding-right: 30px;    
padding-top: 50px;
padding-bottom: 50px;    
}
.jumbotron-fluid {
padding-right: 0;
padding-left: 0;
border-radius: 0;

}

.scrollspysite{
    position: relative;
    overflow: auto;
    height: 300px;
}

.nav-item{
font-size: 16px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 1.5;
}
